---
import Layout from "../../layouts/BlogPost.astro";
---

<Layout
  title="Imprint"
  description="Legal information"
  pubDate={new Date("October 22 2024")}
>
  <p>
    Information in accordance with ยง 5 German Broadcast Media Act (TMG) and
    responsible for content according to ยง 55 paragraph 2 RStV:
  </p>

  <address>
    Leonhard Melzer<br />Obere Jakobermauer 8<br />86152 Augsburg<br />Germany
  </address>

  <p>
    If you have any questions or concerns about this website, please contact me
    at
    <a href="mailto:leonhard.melzer@gmail.com">leonhard.melzer@gmail.com</a>.
  </p>
</Layout>
